.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
}

.mainContent {
    flex: 1;
}

.contentBox {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNav ul {
    list-style: none;
    display: flex;
}

.topNav ul li a {
    text-decoration: none;
    padding: .8rem 1rem;
}

.searchContainer button {
    margin-left: .8rem;
    padding: 8px;
    min-width: 0 !important;
    border-radius: 100%;
}

.feedContainer {
    min-width: 70%;
    margin: 1.5rem;
    border-radius: 10px;
}

.sidebarLeft {
    min-height: 100vh;
    max-width: 20%;
}

.sidebarRight {
    min-width: 25%;
}




.coverPictureContainer {
    margin-bottom: .8rem;
}

.sectionContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.rightSection {
    flex-basis: 65%;
}

.aboutSection {
    border-radius: 10px;
    margin-bottom: .8rem;
}

.friendsBox {
    border-radius: 10px;
}

.leftSection {
    flex: 1;
}