.input {
    height: 2rem;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #232429;
    border: none;
    outline: none;
}

.input:focus {
    border: none;
    outline: none;
    background-color: #232429;
}

